
@{
    ViewBag.Title = "用户";
}

<div id="grid"></div>
<div id="create">
    <form></form>
</div>
@section scripts{
<script>
    $(function () {
        var crudServiceBaseUrl = "@Url.Content("~/Users")";
        var columns = @Html.Raw(ViewBag.columns);
        var models = @Html.Raw(ViewBag.models);
        var create =@Html.Raw(ViewBag.create);

        var dataSource = new kendo.data.DataSource({
            pageSize:10,
            serverFiltering: true,
            serverPaging: true,
            serverSorting: true,
            transport: {
                read: {
                    url: crudServiceBaseUrl + "/Read",
                    type:"post"
                },
                update: {
                    url: crudServiceBaseUrl + "/Update",
                    type:"post"
                },
                destroy: {
                    url: crudServiceBaseUrl + "/Destroy",
                    type: "post"
                }
            },
            schema: {
                total: "total",
                data: "data",
                model: models
            },
            error: function (e) {
                kendo.alert(e.xhr.responseJSON.error);
                return;
            }
        });
        var grid = $("#grid").kendoGrid({
            dataSource:dataSource ,
            pageable: true,
            sortable: true,
            reorderable: true,
            resizable: true,
            columnMenu: true,
            filterable: {
                extra: false
            },
            editable: {
                mode: "popup",
                window: {
                    title: "编辑"
                }
            },
            toolbar: [
                {
                    template: '<a class="k-button" href="\\#" id="createbtn"><span class="k-icon k-i-add"></span>新增</a>'
                }
            ],
            columns: columns
        }).data("kendoGrid");

        var wnd = $("#create").kendoWindow({
            title: "新增",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");

        $('form').jsonForm({
            schema: create,
            form: [
                "*",
                {
                    "type": "submit",
                    "title": "提交"
                }   
            ],
            onSubmit: function (errors, values) {
                if (errors) {
                    console.log(errors);
                }
                else {
                    $.post(crudServiceBaseUrl+'/create',values,function(data){
                        dataSource.read();
                        grid.refresh();
                        wnd.close();
                        console.log(data);
                    }).error(function(error){
                        kendo.alert(error.responseJSON.error);
                    });
                }
            }
        });

        $("#createbtn").click(function(){
            wnd.center().open();
        })
    });
</script>
    }