
@{
    ViewBag.Title = "用户";
}

<div id="grid"></div>

@section scripts{
<script>
    function create_click() {
        console.log("Toolbar command is clicked!");
        return false;
    }

    $(function () {
        var crudServiceBaseUrl = "@Url.Content("~/Users")";
        var columns = @Html.Raw(ViewBag.columns);
        columns.push({ command: ["edit", "destroy"], title: "&nbsp;", width: "100" })
        var models = @Html.Raw(ViewBag.models);
        $("#grid").kendoGrid({
            dataSource: {
                pageSize:20,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
                transport: {
                    read: {
                        url: crudServiceBaseUrl + "/Read",
                        type:"post"
                    },
                    update: {
                        url: crudServiceBaseUrl + "/Update",
                        type:"post"
                    },
                    destroy: {
                        url: crudServiceBaseUrl + "/Destroy",
                        type: "post"
                    }
                },
                schema: {
                    total: "total",
                    data: "data",
                    model: models
                },
                error: function (e) {
                    console.log(e.xhr.responseText);
                    return;
                }
            },
            pageable: true,
            sortable: true,
            reorderable: true,
            resizable: true,
            columnMenu: true,
            filterable: {
                extra: false
            },
            editable: "popup",
            toolbar: [
                {
                    template: '<a class="k-button" href="\\#" onclick="return create_click()">新增</a>'
                }
            ],
            columns: columns
        });
    });
</script>
    }